<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,=">
    <title>{% block title %} Videos Playlists {% endblock %}</title>
</head>
<body>
        {% include 'snippets/nav.html' %}
        {% block content %}
        <h1>Hello world</h1>
        {% endblock %}

        <script>
            var tag = document.createElement("script");
            tag.src ='https://www.youtube.com/iframe_api';
            var firstScriptTag = document.getElementsByTagName("script")[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>

<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

    </body>
</html>